.search-container {
  width: 50%;
  height: 2.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
}

.input-field {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: white;
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
}

/* ul */
.sub-list {
  list-style: none;
  text-align: left;
  margin: 0;
  padding: 0;
  border: 1px gray solid;
  background-color: #f1f3f4;
}

.sub-item:not(:last-child) {
  border-bottom: 1px solid gray;
}

.sub-item {
  padding: 10px 5px;
  cursor: pointer;
  height: 2rem;
  display: flex;
  justify-content: space-between;
}

.sub-list li:hover {
  color: #f1f3f4;
  text-decoration: underline;
  background-color: #79bac1;
}

.sub-list::before {
  content: "";
}
.search-image {
  height: 100%;
  width: auto;
}
