.subscription-container {
  margin-top: 5rem;
  padding: 1rem;
  width: 97%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: #bf9b2f 1px solid; */
  /* background-color: #f1f3f4; */
  background-color: #f1f3f4;
  flex-direction: column;
  align-self: center;
  border-radius: 10px;
}

.empty-sub__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 2.5rem;
  color: #2a7886;
}

.subscription-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 80px;
  align-items: center;
  border: none;
  overflow: hidden;
  background-color: #f1f3f4;
  border: 2px solid #2a7886;
  border-radius: 1.2rem;
  overflow: hidden;
}

.subscription-row:nth-child(even) {
  background-color: #2a7886;
}

.subscription-row:nth-child(even) p, ul {
  background-color: #2a7886;
  border: 3px solid #f1f3f4;
  color: #f1f3f4;
}

.subscription-row:nth-child(even) ul {
  /* border: 3px solid #f1f3f4; */
  color: #f1f3f4;
  background-color: #2a7886;
  border: 3px solid #f1f3f4;
}

.subscription-row:nth-child(even) ul > li {
  /* border: 3px solid #f1f3f4; */
  color: #f1f3f4;
}

.subscription-row:not(:last-child) {
  margin-bottom: 1rem;
}

.image-container {
  background-color: #f1f3f4;
  width: 10rem;
  height: 5rem;
  border: 3px #2a7886 solid;
  border-radius: 1rem;
  overflow: hidden;
}

.sub-image {
  background-color: #f1f3f4;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* transform: scale(.8); */
  max-width: auto;
  max-height: 100%;
  padding: .1rem;
}

.sub-name {
  color: #2a7886;
  margin-left: -1rem;
  font-size: 2.1rem;
  border: 3px solid #2a7886;
  padding: 0 .5rem;
  border-radius: 10px;
}

/* .sub-name:nth-child(even) {
  color: #f1f3f4;
} */

.sub-reminder {
  font-size: 1.5rem;
  color: #2a7886;
  border: 3px solid #2a7886;
  padding: 0 .5rem;
  border-radius: 10px;
  margin-left: -2rem;
}

/* .spacer {
  flex: 1;
} */

.subscription-row-items ul {
  list-style: none;
  margin-left: -2rem;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  border: 3px solid #2a7886;
  background-color: #f1f3f4;
}
.subscription-row-items li {
  padding: 0 0.5rem;
  /* margin-right: 1rem; */
  color: #2a7886;
  font-size: 1.5rem;
  border-radius: 10px;
}

.subscription-row-items li:not(:last-child) {
  margin-right: 1rem;
}

.sub-button {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translate(-2%, -50%);
  background-color: #f1f3f4;
  border: 3px solid #2a7886;
  /* margin-right: 1rem; */
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10px;
}

.button-icon {
  background-color: #f1f3f4;
  height: auto;
  width: auto;
}

