.subscription-container {
  margin-top: 6rem;
  padding: 1rem;
  width: 100%;
  height: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-bottom: #bf9b2f 1px solid; */
  background-color: #f1f3f4;
}

.subscription-row {
  display: flex;
  flex-direction: row;
  width: 80%;
  min-height: 80px;
  align-items: center;
  
  background-image: linear-gradient(115deg, white 0%, white 48%, transparent 48%);
  background-color: #2a7886;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 .3rem 1rem grey;
}

.image-container {
  /* clip-path: circle(50% at 50% 50%); */
  /* margin: 0, 0, 0, 0; */
  background-color: white;
  display: flex;
  /* align-self: flex-end; */
  width: 20rem;
  height: 100px;
  /* padding-top: 10px; */
  align-items: center;
  justify-content: center;
}

.sub-image {
  background-color: white;
  /* transform: scale(.8); */
  width: 90%;
}

.sub-name {
  color: #2a7886;
  margin-left: 2rem;
  font-size: 1.4rem;
}

.spacer {
  flex: 1;
}

.subscription-row-items ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}
.subscription-row-items li {
  padding: 0 0.5rem;
  color: white;
  font-size: 1.3rem;
}

.sub-button {
  background-color: #2a7886;
  border: none;
}

.button-icon {
  background-color: #2a7886;
}

