.modal-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45rem;
  height: 10rem;
  border: 1px black solid;
  background-color: #f1f3f4;
  padding: 1rem;

  transform: translate(-50%, -50%);
}

.sub-info {
  display: flex;
  justify-content: space-around;
  height: 4rem;
}

.modal-image {
  /* margin-left: -4rem; */
  margin-right: auto;
}

.search-name {
  font-size: 1.4rem;
  text-align: center;
  color: #2a7886;
}

.form-info {
  display: flex;
  flex-wrap: wrap;
}
